In [2]:
import warnings
warning.fillerwarnings('ignore')

NameError: name 'warning' is not defined

In [3]:
import pandas as pd
import numpy as np
import re
import nltk
import matplotlib.pyplot as plt
pd.options.display.max_colwidth=100
%matplotlib inline

corpus = ['I like Spaghetti, zinger burger, pizza',
         'He loves to play basketball',
         'I do not like Tea',
          "Does she live in Paris",
          'cats hate water',
          'we live in texas, america',
          'she likes bnanas',
          'does he play tennis!'
         ]

labels = ['food', 'game', 'food', 'place', 'animal', 'place', 'food', 'game']
corpus = np.array(corpus)
corpus_df = pd.DataFrame({'Document': corpus,
                         'Category': labels})

corpus_df = corpus_df[['Document', 'Category']]
corpus_df

                                 Document Category
0  I like Spaghetti, zinger burger, pizza     food
1             He loves to play basketball     game
2                       I do not like Tea     food
3                  Does she live in Paris    place
4                         cats hate water   animal
5               we live in texas, america    place
6                        she likes bnanas     food
7                    does he play tennis!     game